@import "tailwindcss";
@import '@mantine/core/styles.css';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/*button {
  @apply m-4 bg-blue-500 hover:bg-blue-400 text-white py-3 px-6 rounded-lg text-lg font-semibold transition-all drop-shadow-md drop-shadow-gray-700;
}*/
.red-button {
  @apply bg-red-500 hover:bg-red-400;
}
.admin-nav {
  @apply m-4 bg-blue-400 hover:bg-blue-300 p-6;
}
.modal-close {
  @apply m-4 opacity-75 bg-white hover:bg-gray-200 text-black py-4 px-6 rounded-lg text-lg font-bold;
}
.plus-button {
  @apply m-4 opacity-75 bg-white hover:bg-gray-200 text-black py-4 px-6 rounded-lg text-lg font-bold;
}
.input {
  @apply w-100 h-12 pl-4 mb-12 rounded border-black border-1 text-neutral-950;
}
.login {
  @apply bg-gray-400 hover:bg-gray-300 text-black w-full border-2 p-4 border-hidden rounded mb-3 text-3xl font-bold transition-all;
}
